body{
  background: #124F8E;
}
.left{
  width: 20%;;
  float: left;
  height: calc(100vh - 93px);
  background: #418fdf;
  .left-top-box{
    height: 25%;

    .box-cont{
      .weather{
        position: relative;
        height: 65%;
        text-align: center;
        img{
          display: inline-block;
          width:80px;
          height: 80px;
        }
        .wd {
          display: inline-block;
          vertical-align: middle;
          p{
            font-size: 1.4vw;
            margin: 0;
          }
        }
      }
    }
    p{
      font-size: 18px;
      text-align: center;
      margin-bottom: 2%;
      height: 33.3333%;
    }
  }
}
.now{
  height: 35%;
  width: 80%;
  margin: 0 auto;
  .now-cont{
    width: 50%;
    float: left;
    text-align: center;
    span{
      display: block;
      height: 25px;
      line-height: 25px;
    }

  }
  .now-cont:nth-of-type(1){
    border-bottom: 1px solid #4E6678;
    border-right: 1px solid #4E6678;
  }
  .now-cont:nth-of-type(2){
    border-bottom: 1px solid #4E6678;
  }
  .now-cont:nth-of-type(3){
    border-right: 1px solid #4E6678;
  }

}
.left-center-box{
  height: 31.5%;

  .box-cont{
    ul{
      padding: 0;
      margin: 0;
      height: 100%;

      li{
        height: calc(25% - 8px);
        font-size: 1vw;
        text-align: center;
        width: 86%;
        margin: 8px 7%;
        display:flex;
        justify-content:center;
        align-items:center;
        span{
          display: inline-block;
          font{
            font-size: 14px;
          }
        }

        span:nth-of-type(1){
          text-align: right;
          width: 60%;

        }
        span:nth-of-type(2){
          text-align: left;
          color: #DBC35D;
          width: 40%;

        }
      }
    }
  }
}
.left-bom-box{
  height: 43.5%;
  .box-cont{
    img{
      width: 60%;
      margin: 2% 20%;
      margin-bottom: 0;
      height: 56%;
    }
    .jj{
      padding: 5% 6%;
      height: 42%;
      width: 86%;
      margin: 0 7%;
      overflow: hidden;
      background: #124064;
      p{
        text-indent: 2em;
        margin: 0;
        line-height: 25px;
      }
    }
  }
}

.center{
  width: 60%;
  float: left;
  height: calc(100vh - 85px);
  .layer-control{
    height: 135px;

    background: #124F8E;
    .box-cont{
      padding: 0 20px;
      .contorl{
        height: 140px;
        width: 100%;
        position: relative;
        top: 10px;
        background: #124064;
        position: relative;
        .prev,.next{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          img{
            height: 38px;
            width: 38px;

          }
        }
        .prev{
          left: 10px;
        }
        .next{
          right: 10px;
        }
        .slider{
          width: calc(100% - 80px);
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          ul{
            margin: 0;
            padding: 0;
            li{
              float: left;
              width: calc(11.11111% - 12px);
              text-align: center;
              height: 40px;
              margin:  0 6px;

              margin-top: 20px;
              line-height: 40px;
              background: #093B60;
              input[type='checkbox']{
                margin: 0;
                vertical-align: baseline;
                position: relative;
                top: 3px;
                width: 15px;
                height: 15px;
              }
            }
          }
        }

      }
    }
  }
}
.layer-control{
  .box-tit{
    position: relative;
  }
}
.checkContorl{
  position: absolute;
  right: 21px;
  top: 12px;
  input[type='checkbox']{
    position: relative;
    top: 2px;
  }
}
#map{
  height: calc(100% - 199px);

}

.right{
  width: 20%;;
  float: right;
  height: calc(100vh - 85px);
  background: #418fdf;

  .right-top-box,.right-center-box,.right-bom-box{
    height: 33.33333%;
  }

}
